<div class="container">
  <h1>{{category.name}}</h1>
  <div class="row">
    {{#each category.articles as |article|}}
      {{#unless article.unlisted}}
        <ArticleCard @article={{article}} />
      {{/unless}}
    {{/each}}
  </div>
</div>
