@import "node_modules/bootstrap/scss/bootstrap";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.bg-blue {
  background-color: #003da5 !important;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #003da5;
}

a.text-white:hover {
  color: lightgray !important;
}

.carousel-item {
  max-height: 500px;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.news-card-content {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  font-size: small;
  background-color: white;
  display: flex;
  align-items: center;
  opacity: 0;
}

.balados-list-thumbnail {
  min-height: 250px;
  box-shadow: 0 0 10px black;

  .image {
    height: inherit;
    background-color: #003da5;

    img {
      height: inherit;
      object-fit: contain;
    }
  }
}

.article-thumbnail {
  object-fit: cover;
  position: relative;
  height: 0;
  padding-bottom: 65%;
  text-shadow: 2px 2px 4px black;
}

.card-tag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.article-thumbnail > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.article-img {
  max-height: 300px;
}

article-img-container {
  max-width: 66%;
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.85;
  box-shadow: inset 0 0 100px black;
}

.hover:hover {
  opacity: 1;
}

.balados-more-list {
  background-color: rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 50px;
  margin: auto;
}

.balados-more-list:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.radial-ellipse-far {
  background: linear-gradient(to top, black, 10%, transparent),
  linear-gradient(to left, black, 10%, transparent),
  linear-gradient(to right, black, 10%, transparent),
  linear-gradient(to bottom, black, 10%, transparent);
  max-width: 500px;
  margin: auto;
}

.fixed-height {
  height: 300px;
}

.btn, .card, .card-img-top {
  border-radius: 0;
}

.btn-primary {
  background-color: #003da5;
  border-color: #003da5;

  &:hover, &:focus {
    background-color: #002F80;
  }
}

.author-card {
  min-height: 84px;
  background-color: #e8e8e8;
  font-size: smaller;
}

.facebook-color {
  color: #4267b2;
}

.twitter-color {
  color: #1da1f2;
}

.email-color {
  color: #464646;
}

.instagram-color {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
}

.linkedin-color {
  color: #0e76a8;
}

.logo-list > a > i:hover {
  color: #003da5 !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #002F80;
  transition: 0.3s;
}

.sub-menu {
  color: black;

  &:hover {
    background-color: lightgrey;
    transition: 0.3s;
  }
}

.side-menu {
  background-color: #003da5;
  color: white;
  box-shadow: 0 0 10px black;

  .icon-img {
    border-radius: 100%;
    height: 25px;
    width: 25px;
  }

  a:hover {
    color: black;
  }
}

.side-menu-articles {
  background-color: #f8f9fa;
}


.side-menu-articles > a.active > .article {
  background-color: #cdcdcd;
  font-weight: bold;
}

.side-menu-articles > a > li:hover{
  background-color: #bfbfbf !important;
}

@include media-breakpoint-up(md) {
  .side-menu {
    width: 300px;
    min-height: 87vh;
  }

  #la-tribune {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

@include media-breakpoint-up(md) {
  #content-wrap {
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-down(sm) {
  #content-wrap {
    padding-bottom: 7rem;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ember-power-select-trigger {
  width: 90px;
}

.ellipsis {
  text-overflow: ellipsis;
}

.ember-power-select-trigger {
  min-width: 150px;
}

.news-card > img {
  object-fit: contain;
}

.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.color-form {
  color: #495057;
}

.modal-open {
  overflow-y: scroll;
}

.modal {
  color: black;

  .modal-content {
    padding: 20px;
    border-radius: 0;
    border: none;
    text-align: center;
    font-size: 14px;
  }

  .modal-header {
    border-bottom: none;
    position: relative;
  }

  h4 {
    text-align: center;
    font-size: 26px;
    margin: 0 0 -10px;
  }

  .close {
    position: absolute;
    top: -5px;
    right: -2px;
  }

  .modal-body {
    text-align: center;
    color: black;
  }

  .modal-footer {
    border: none;
    text-align: center;
    font-size: 13px;
    padding: 0;
  }

  .modal-footer a {
    color: #999;
  }

  .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
  }

  .icon-box i {
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }

  .btn, .btn:active {
    min-width: 100px;
    border: none;
    margin: 0 5px;
  }

  .btn-secondary {
    background: #cdcdcd;
    color: black;
  }

  .btn-secondary:hover, .btn-secondary:focus {
    background: #bfbfbf;
  }

  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
}

.modal-error {
  h4 {
    margin-top: 30px;
  }
  .icon-box {
    border: 3px solid #f15e5e;
    color: #f15e5e;
  }
}

.modal-success {
  h4 {
    margin-top: 30px;
  }
  .icon-box {
    border: 3px solid #4BB543;
    color: #4BB543;
  }
}


.modal-sent {
  h4 {
    margin-top: 30px;
  }
  .icon-box {
    border: 3px solid #003da5;
    color: #003da5;
  }
}

.navbar {
  box-shadow: 0 0 10px black;
}

.navbar-admin {
  .navbar-picture {
    border-radius: 48%;
    background-color: white;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: lightgrey;
    }
  }
}

.dropdown-menu {
  border-radius: 0;

  .dropdown-item {
    background-color: #f8f9fa !important;
    color: black;

    &:hover {
      color: dimgrey;
    }
    &:active {
      font-weight: bold;
      color: black;
    }
    &:focus {
      outline: none;
    }
  }
}

.login-card {
  width: 18rem;
  box-shadow: 0 0 100px #002F80;
  margin-top: 75px;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  height: 36px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  border: none;
  padding: 0;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 34px;
    height: 34px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    width: 18px;
    height: 18px;
  }
  .btn-text {
    color: $white;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 36px;
    font-family: "Roboto", serif;
    &:focus {
      outline: none;
    }
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
  &:focus {
    outline: none;
  }
}


.alert {
  border-radius: 0;
}


.pager {
  background-color: #e2e6ea;

  .btn-light {
    background-color: transparent;
    border: none;
  }

  .btn-light:hover {
    background-color: #cbcfd2;
  }

  .btn-primary:hover {
    background-color: #003da5;
    cursor: default;
  }

}

.custom-carousel {
  .carousel-control-next, .carousel-control-prev {
    width: 5%;
    opacity: 1;

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003da5' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
    }

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003da5' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
    }

    &:hover {
      background-color: lightgrey;
    }
  }
}

.episode-card, .category-card {
  &.active {
    background-color: #003da5;
    color: white;
  }
}

.dark-background {
  background-color: #002F80;

  &.clickable:hover {
    background-color: #002464;
  }
}

