.dark {
  & {
    background-color: #121212;
    color: white;
  }

  .bg-blue {
    background-color: #1D1D1D !important;
  }

  .card {
    background-color: #272727;
    border-color: #1D1D1D;
  }

  .ember-basic-dropdown-trigger, .ember-power-select-search > input, .form-control, .editor {
    background-color: #1D1D1D;
    border-color: #121212;
    color: white;
  }

  .ember-power-select-option:hover {
    background-color: #383838 !important;
  }

  .ember-basic-dropdown-content, .ember-power-select-option, .input-group-text {
    background-color: #2D2D2D !important;
    border-color: #121212 !important;
  }

  .modal-content {
    background-color: #2D2D2D;
    box-shadow: 0 0 20px black;
    color: white;
  }

  .modal-body, .modal-header > .close  {
    color: white;
  }

  .clickable:hover {
    color: white;
  }

  & .x-toggle-btn {
    background-color: transparent;
  }

  .ember-power-select-trigger-multiple-input {
    color: white;
  }

  .list-group-item {
    background-color: #1D1D1D;
    color: white;
  }

  .tui-popup-body {
    color: black;
  }

  .dropdown-menu .dropdown-item {
    background-color: #121212 !important;
  }

  .dropdown-toggle {
    background-color: #2D2D2D !important;
    border: 1px solid #121212 !important;
    color: #495057;
  }
}
