<div class="col-12 col-sm-6 col-lg-4 p-2 d-sm-flex">
  <div class="card mx-0">
    <img class="card-img-top" src={{if @article.thumbnailUrl @article.thumbnailUrl "../../images/placeholder.jpg"}} alt="Card image cap">
    <div class="card-body p-2 d-flex flex-column">
      <h5 class="card-title mb-1">{{if @article.title @article.title "No title"}}</h5>
      <p class="card-text small">{{if @article.desc @article.desc "No description."}}</p>
      <div class="mt-auto">
        {{link-to "Lire l'article" "la-tribune.category.article" @article.category @article.id class="btn btn-primary btn-sm float-right"}}
      </div>
    </div>
  </div>
</div>
