<div class="input-group">
  <input type="text" class="form-control" value={{@text}} readonly>
  <div class="input-group-append">
    <div class="input-group-text clickable" {{on "click" this.copyToClipboard}}>
        <i class="fas fa-copy"></i>
      <BsTooltip @placement="top" @triggerEvents="" @visible={{this.showTooltip}} @delayHide={{5}}>{{this.tooltipText}}</BsTooltip>
    </div>
  </div>
</div>