<div class="row my-4">
  <div class="col">
    <div class="row">
      <LinkTo @route="balados.category" @model="1" class="nav-item nav-link">
        <h3 class="col">Catégorie 1</h3>
      </LinkTo>
    </div>
    <div class="row">
      <EpisodeCard />
      <div class="col px-0 mx-2">
        <div class="balados-more-list d-table ml-4 my-5">
          <LinkTo @route="balados.category" @model="1" class="d-table-cell align-middle text-center text-white h3"><i class="fas fa-plus"></i></LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>