<div class="footer">
  <nav class="navbar navbar-dark bg-blue small text-white fixed-bottom">
    <div class="mx-auto">
      <a href="mailto:samuel.lamarche24@gmail.com" class="mx-3">{{t 'contact-us'}}</a>
      <LinkTo @route="privacy-policy" class="mx-3">{{t 'privacy-policy'}}</LinkTo>
      <LinkTo @route="terms-of-use" class="mx-3">{{t 'terms-of-use'}}</LinkTo>
      <i class="mx-3">{{t 'copyright'}}</i>
    </div>
  </nav>
</div>
