<footer id="footer">
  <nav class="navbar navbar-dark bg-blue small">
    <div class="row mx-auto">
      <a href="mailto:samuel.lamarche24@gmail.com" class="col-12 col-md text-center text-white my-1">{{t 'contact-us'}}</a>
      <LinkTo @route="about" class="col-12 col-md text-center text-white my-1">{{t 'about'}}</LinkTo>
      <LinkTo @route="terms-of-use" class="col-12 col-md text-center text-white my-1">{{t 'terms-of-use'}}</LinkTo>
      <i class="col-12 col-md text-center text-white my-1">{{t 'copyright'}}</i>
    </div>
  </nav>
</footer>
