<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <a class="navbar-brand" href="#">
    <img width="30" height="30" class="d-inline-block align-top" alt="Logo Lagenda" src="http://firehallartscentre.ca/wp/wp-content/uploads/2017/07/white-square-for-shit.jpg">
    {{t 'title'}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mx-auto">
      <LinkTo @route="index" class="nav-item nav-link">{{t 'home'}}</LinkTo>
      <LinkTo @route="balados" class="nav-item nav-link">{{t 'balados'}}</LinkTo>
      <LinkTo @route="la-tribune" class="nav-item nav-link">{{t 'la-tribune'}}</LinkTo>
    </div>
      <a href="#" class="fab fa-youtube h3 my-auto"></a>
      <a href="https://www.facebook.com/LAgenda-108507207380600" class="fab fa-facebook h3 my-auto mx-2"></a>
      <a href="#" class="fab fa-twitter h3 my-auto"></a>
  </div>
</nav>