<div class="news-card col-xl-3 col-lg-4 col-sm-6 col-12 d-sm-flex p-2">
  <img src="images/bg-7.jpg" class="card-img" alt="...">
  <LinkTo @route="balados.category" @model="1" class="nav-item nav-link">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
      <p class="card-text small">Last updated 3 mins ago</p>
    </div>
  </LinkTo>
</div>