<div class="container">
  <div class="row">
    {{#each this.categories as |category|}}
      {{#each category.articles as |article|}}
        <ArticleCard @article={{article}}/>
      {{/each}}
    {{/each}}
  </div>
</div>
