<div class="container-fluid px-0">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
      <li data-target="#home-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/balados-slider.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-block radial-ellipse-far">
          <h5 class="text-capitalize"><LinkTo @route="balados.list" class="text-white">Le balado</LinkTo></h5>
          <p>Pour des analyses détaillées.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/lagenda-2-slider.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-block radial-ellipse-far">
          <h5 class="text-capitalize"><LinkTo @route="about" class="text-white">À propos</LinkTo></h5>
          <p>Qui diable est assez cinglé pour se lancer dans ce projet?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/tribune-slider.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-block radial-ellipse-far">
          <h5 class="text-capitalize"><LinkTo @route="la-tribune" class="text-white">La tribune</LinkTo></h5>
          <p>L’endroit pour vous informer et vous exprimer.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/lagenda-slider.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-block radial-ellipse-far">
          <h5 class="text-capitalize"><LinkTo @route="faq" class="text-white">L'Agenda</LinkTo></h5>
          <p>Créer la politique de demain.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container mb-4">
  <h1 class="mt-4 text-center">Qui sommes-nous?</h1>
  <p class="text-justify">
    <b>Qui diable est assez cinglé pour se lancer dans ce projet?</b><br>
    Nous sommes des jeunes passionnés de politique étudiant dans des domaines divers et variés. Nous avons eu l’idée de
    lancer ce collectif après une discussion autour d’un shish-taouk et avec l’idée floue de créer un balado sur la
    politique. Quelques jours plus tard, l’un de nous deux a cru bon de se donner encore plus de travail et d'agrandir
    drastiquement le projet pour inclure les projets cités dans la rubrique Pourquoi L’Agenda?<br>
    <br>
    Bref voici ceux qui composent notre équipe plus en détail.
  </p>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoSamuel.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Samuel Lamarche</h3>
      <h5>Animateur et rédacteur en chef</h5>
      <p>
        Fondateur de L’Agenda, vice-président de PQLaval et étudiant en économie et politique à l’Université Laval. Né à
        Amos, en Abitibi, il est passionné de politique depuis son jeune âge et rêve de voir le Québec devenir un pays.
        Toutefois, son objectif premier avec L’Agenda reste d’informer les gens, de leur donner une voix et de les
        intéresser à la politique. Pour lui, le cynisme et le désintérêt en politique sont des indicateurs que la
        société est à la recherche d’un nouveau souffle et d’un nouveau projet. Il se qualifie comme étant pragmatique
        et peu enclin à tomber dans l’idéalisme et le romantisme de la politique.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoJonathan.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Jonathan Carreiro-Benoit</h3>
      <h5>Co-animateur</h5>
      <p>
        Cofondateur de L’Agenda, président de PQLaval et étudiant en histoire et études anciennes à l’Université Laval.
        Né à Cantley, en Outaouais, il se présente pour le PQ et le Bloc dans une région fortement hostile à
        l’indépendance. Sa passion pour la politique et l’histoire le motive à vouloir enseigner l’histoire, mais aussi
        à intéresser les gens à la joute qui se déroule aux parlements. Plus romantique et idéaliste, il voit dans la
        politique une bataille honorable pour faire avancer des idéaux et des visions bien souvent incompatibles. La
        défense du Québec et son accession à l’indépendance le motivent à se lever chaque jour pour changer un peu le
        monde à sa façon.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoJeremie.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Jérémie Juneau</h3>
      <h5>Collaborateur</h5>
      <p>
        Collaborateur à L’Agenda, candidat du NPD dans Louis-Hébert en 2019 et étudiant en comptabilité à l’Université
        Laval. Né à Amos, en Abitibi et fils d’entrepreneur, il se découvre un intérêt profond pour les PME et leur
        importance dans l’économie canadienne. Il se lance en politique avec le NPD avec une vision autonomiste pour le
        Canada. Ses priorités sont la fiscalité, la justice sociale, l’environnement et une décentralisation des
        pouvoirs pour une plus grande autonomie des provinces. Partisan d’une réforme constitutionnelle, c’est le
        premier collaborateur non-indépendantiste du collectif.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoNicolas.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Nicolas Signori</h3>
      <h5>Administrateur et développeur</h5>
      <p>
        Développeur et administrateur du site L’Agenda.ca, étudiant en ingénierie logicielle à l'ÉTS. Natif de
        l’Abitibi, il a accepté gracieusement de programmer nos services web et de nous aider malgré notre statut
        d’étudiant. Apolitique, il s’implique pour donner un coup de pouce à un ami. Pour sa générosité nous tenions à
        lui faire un petit hommage. Si vous trouvez son travail intéressant, allez jeter un coup d’oeil au
        <a href="https://nsignori.ca/">https://nsignori.ca/</a>.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoMarieLaurence.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Marie-Laurence Desgagné</h3>
      <h5>Collaboratrice</h5>
      <p>
          Collaboratrice à l’Agenda, conseillère au Comité national des jeunes du Parti Québécois et étudiante en droit
          et littérature à l’Université McGill. Née à Longueuil, mais originaire de la Beauce, elle s’intéresse
          particulièrement aux enjeux linguistiques et sociaux qui touchent la société québécoise. Les idéaux d’équité,
          de justice et d’émancipation collective guident tant ses opinions que ses actions, et la poussent à militer
          activement pour l’indépendance de l’État québécois. Pour elle, le dialogue est essentiel à la vie démocratique
          et au vivre-ensemble, et c’est dans cette optique qu’elle s’implique au sein de l’Agenda.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoJordan.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Jordan Larochelle</h3>
      <h5>Collaborateur</h5>
      <p>
        Collaborateur à L’Agenda, militant pour Québec solidaire et étudiant en science politique à l’Université du
        Québec en Outaouais. Né à Amos en Abitibi, il tombe en amour avec la politique à un très jeune âge. Défenseur de
        la justice sociale et soucieux de réduire les inégalités socio-économiques, il s’engage comme militant pour
        Québec Solidaire et le NPD au fédéral. Partisan d’une réforme du mode de scrutin, il juge que la population doit
        avoir un plus grand rôle dans les décisions de l’État et que c’est de cette manière que l’on viendra à bout du
        cynisme croissant de la population.
      </p>
      <div class="row">
        <div class="col logo-list">
          <a href="mailto:j.larochelleagenda@gmail.com"><i class="fas fa-envelope h2"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoAdam.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Adam Fontaine-Métivier</h3>
      <h5>Collaborateur</h5>
      <p>
        Collaborateur à L’Agenda, étudiant en droit à l’Université de Sherbrooke. Né à La Sarre en Abitibi, il
        s’intéresse à la politique et son fonctionnement. Il utilise sa formation pour analyser les politiques
        provinciales et fédérales sous un angle plus neutre et plus soucieux des droits humains. Il apprécie
        particulièrement les institutions juridiques canadiennes pour leur neutralité et la charte canadienne des droits
        et libertés pour sa rigueur. Ses connaissances sur la constitution et le droit canadien sauront éclairer plusieurs lecteurs et auditeurs pour qui le monde juridique semble bien distant.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <img class="img-fluid mt-2" src="/assets/images/photoAntoine.jpg" alt="Image">
    </div>
    <div class="col-9 px-0">
      <h3 class="mb-0">Antoine Poulin</h3>
      <h5>Adjoint à la rédaction</h5>
      <p>
        Après avoir été actif pendant quelques années au sein du milieu étudiant, Antoine s’est lancé en politique
        provinciale en 2018. Ancien candidat dans le comté de Saint-Jérôme, il milite actuellement au sein d’instances
        jeunes et régionales du PLQ et est un membre actif de l’équipe de Dominique Anglade pour la course au leadership
        de ce parti. Natif de Saint-Étienne-des-grès, village situé à quelques kilomètres du Shawinigan de Jean
        Chrétien, il est passionné par les enjeux linguistiques, culturels et économiques québécois, tout en gardant un
        œil intéressé sur le partage des compétences fédéral-provincial et la lutte aux changements climatiques.
      </p>
      <!--
      <div class="row">
        <div class="col logo-list">
          <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
          <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
          <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
          <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
