<div class="menu">
  {{#if this.session.isAuthenticated}}
    <a {{on "click" this.invalidateSession}}>Logout</a>
  {{else}}
    {{#link-to 'admin.login'}}Login{{/link-to}}
  {{/if}}
</div>

<button type="button" class="btn btn-primary" {{on "click" this.postArticle}}>
  Create new article
</button>

 {{outlet}}